/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q        &kp W            &kp E       &kp R        &kp T    &kp Y  &kp U        &kp I            &kp O            &kp P                &kp ESCAPE
&kp BSPC   &mt LSHFT A  &mt RIGHT_ALT S  &mt LGUI D  &mt RCTRL F  &kp G    &kp H  &mt RCTRL J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt LSHFT SEMICOLON  &kp SQT
&kp GRAVE  &kp Z        &kp X            &kp C       &kp V        &kp B    &kp N  &kp M        &kp COMMA        &kp DOT          &kp FSLH             &kp RIGHT_SHIFT
                                         &mo 4       &kp ENTER    &mo 2    &mo 1  &kp SPACE    &mo 4
            >;
        };

        sym {
            bindings = <
&trans  &kp GRAVE           &trans  &trans  &trans  &trans    &kp NON_US_BACKSLASH  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT            &trans
&trans  &mt LSHFT NUMBER_1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6                &kp N7     &kp N8     &kp N9    &mt RSHFT NUMBER_0  &trans
&trans  &kp N6              &kp N7  &kp N8  &kp N9  &kp N0    &trans                &trans     &trans     &trans    &trans              &trans
                                    &trans  &trans  &mo 3     &trans                &trans     &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans     &trans     &trans      &trans     &trans        &kp HOME          &kp PG_DN         &kp PG_UP       &kp END            &trans  &trans
&trans  &kp RC(A)  &kp RC(S)  &kp DELETE  &kp RC(F)  &kp ESCAPE    &kp LEFT          &kp DOWN          &kp UP          &kp RIGHT          &trans  &trans
&trans  &kp RC(Z)  &kp RC(X)  &kp RC(C)   &kp RC(V)  &trans        &trans            &trans            &trans          &trans             &trans  &trans
                              &trans      &trans     &trans        &mo 3             &trans            &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &mkp MCLK  &mkp RCLK  &mkp LCLK  &trans    &trans            &mkp LCLK         &mkp RCLK       &mkp MCLK          &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans    &trans            &trans            &trans          &trans             &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans    &trans            &trans            &trans          &trans             &trans  &trans
                           &trans     &trans     &trans    &trans            &trans            &trans
            >;
        };

        bt_fun {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &kp F11  &kp F12  &trans  &trans   &trans
&trans      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6  &kp F7   &kp F8   &kp F9  &kp F10  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &kp F1  &kp F2   &kp F3   &kp F4  &kp F5   &trans
                                        &trans        &trans        &trans          &trans  &trans   &trans
            >;
        };
    };
};
